@font-face {
  font-family: 'WYekan';
  font-style: normal;
  font-weight: 300;
  src: local('WYekan'), local('WYekan'), url(/fonts/Yekan.woff) format('woff');
}
@font-face {
  font-family: 'WYekan';
  font-style: normal;
  font-weight: 400;
  src: local('WYekan'), local('WYekan'), url(/fonts/Yekan.woff) format('woff');
}
@font-face {
  font-family: 'WYekan';
  font-style: normal;
  font-weight: 500;
  src: local('WYekan'), local('WYekan'), url(/fonts/Yekan.woff) format('woff');
}
@font-face {
  font-family: 'WYekan';
  font-style: normal;
  font-weight: 600;
   src: local('WYekan'), local('WYekan'), url(/fonts/Yekan.woff) format('woff');
}
@font-face {
  font-family: 'WYekan';
  font-style: normal;
  font-weight: 700;
  src: local('WYekan'), local('WYekan'), url(/fonts/Yekan.woff) format('woff');
}